body {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body {
    background-image: url('Capture.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.calculator {
    width: 250px;
    background-color: #971e1e;
    border: 1px solid #cccccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
}